<div class="row">
    <div class="col-xs-7">
        <h4>Demand & Emissions{{tool-tip class='fa fa-info-circle' side='right' title='Select a percentage of EV market penetration to see predicted changes in EV charging station demand or emissions.'}}</h4>

        <div class="row">
            <div class="col-xs-6 form-horizontal">
                <div class="form-group">
                    <label class="col-xs-6 control-label pt-0">View information on predicted charging demand or actual emissions data.</label>
                    <div class="col-xs-6">
                        {{toggle-switch on='Demand' off='Emissions' onChange=(action 'onDemandOrEmissionsToggle')}}
                    </div>
                </div>
            </div>

            <div class="col-xs-6 form-horizontal">
                <div class="form-group">
                    <label class="col-xs-7 control-label pt-0">Select percentage of EV in fleet</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            {{input type='number' class='form-control' min=2 max=20 step=2 value=evPercentageInFleetInt}}
                            <span class="input-group-addon addon-slim">%</span>
                        </div>

                    </div>
                </div>

                {{ui-slider value=evPercentageInFleetInt min=2 max=20 step=2 focus=true immediateResponse=true ticksLabels='2%,20%' tooltip='hide'}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Select Vehicle Type {{tool-tip class='fa fa-info-circle' side='right' title='When you select between EV and IC, you will need to adjust the percentage of energy remaining, electric charge or fuel. Charging and refueling demand predictions are based on the demand of vehicles with less energy remaining than the selected percentage. Example: A setting of 75 only considers demand of vehicles with 0-75 percent energy remaining. If a grid square is red, that area is predicted to have more vehicles closer to 0 percent energy. Vehicle operators in that area are more likely to purchase electricity or fuel.'}}</h4>

                <div class="row">
                    <div class="col-xs-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-6 control-label pt-0">Select between Electric Vehicles (EV) and Internal Combustion (IC) vehicles.</label>
                            <div class="col-xs-6">
                                {{toggle-switch on='EV' off='IC' onChange=(action 'onEvOrIcToggle') disabled=true}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-7 control-label pt-0">Charge remaining or less</label>
                            <div class="col-xs-5">
                                <div class="input-group">
                                    {{input type='number' class='form-control' min=0 max=100 step=1 value=chargeRemainingInt disabled=gridDirector.emissionsActive}}
                                    <span class="input-group-addon addon-slim">%</span>
                                </div>
                            </div>
                        </div>

                        {{ui-slider value=chargeRemainingInt min=0 max=100 step=1 ticksLabels='0%,100%' tooltip='hide' class='mb-2' focus=true immediateResponse=true disabled=gridDirector.emissionsActive}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-5">
        <h4>Set Time Range{{tool-tip class='fa fa-info-circle' side='right' title='Select between Aggregate (i.e., average demand or emissions intensity over the selected time period) and Sweep (i.e., animated change of demand or emissions intensity over the selected time period.'}}</h4>

        <div class="row mb-2">
            <div class="col-xs-5 pb-1">
                <div class="form-group">
                    <label class="control-label">&nbsp;{{! This is a cheat - and also a handlebars comment that will never appear in the markup }}<span class="sr-only">Aggregate or Sweep</span></label>
                    {{toggle-switch on='Aggregate' off='Sweep' onChange=(action 'onAggregateOrSweepToggle')}}
                </div>

                <div class="btn-group" role="group" aria-label="play or pause">
                    <button type="button" class="btn btn-default btn-sm" onclick={{action 'onPlayClick'}} disabled={{isPlayDisabled}}>
                        <span class="fa fa-play" aria-hidden="true"></span>
                        <span class="sr-only">Play Sweep</span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm" onclick={{action 'onPauseClick'}} disabled={{isPauseDisabled}}>
                        <span class="fa fa-pause" aria-hidden="true"></span>
                        <span class="sr-only">Pause Sweep</span>
                    </button>
                </div>
            </div>

            <div class="col-xs-7">
                <div class="form-group">
                    <label class="control-label">Select day:</label>
                    <select class="form-control" onchange={{action (mut gridDirector.dayOfWeek) value='target.value'}}>
                        <option value="mon" selected>Monday</option>
                        <option value="tues">Tuesday</option>
                        <option value="wed">Wednesday</option>
                        <option value="thur">Thursday</option>
                        <option value="fri">Friday</option>
                        <option value="sat">Saturday</option>
                        <option value="sun">Sunday</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                {{input type='text' class='form-control' readonly=true value=formattedTimeRange.start}}
            </div>
            <div class="col-xs-4 col-xs-offset-4">
                {{input type='text' class='form-control' readonly=true value=formattedTimeRange.end}}
            </div>

            <div class="col-xs-12">
                {{range-slider value=gridDirector.timeRange.range min=0 max=287 ticksLabels='12:00am,11:55pm' tooltip='hide' focus=true immediateResponse=true disabled=isTimeRangeDisabled}}
            </div>
        </div>
    </div>
</div>
