<div class="row">
  <!-- Sidebar Starts -->
  <div class="col-sm-3">
    {{maps-sidebar mapService=mapService}}
  </div>
  <!-- Sidebar Ends -->

  <!-- Top Section - First Starts -->
  <div class="col-sm-9 no-pad">
    <!-- Top - Left Column, First Row Starts -->
    <div class="col-sm-7 no-pad">
      <h4 class="section-title">Demand & Emissions</h4>
      <hr>

      <div class="col-sm-7 no-pad">
        <div class="col-sm-6 no-pad">
          <p>View information on predicted charging demand or actual emissions data.</p>
        </div>

        <div class="col-sm-6 no-pad">
          {{toggle-switch on='Demand' off='Emissions' offStyle=“btn-default”}}
        </div>
      </div>

      <div class="col-sm-5 no-pad">
        <p>Select percentage of EV in fleet</p>
        {{ui-slider
            value=0
            min=0
            max=20
            step=1
            orientation='horizontal'
            tooltip='show'
            disabled=false
            handle='square'
            reversed=false
            focus=false
            naturalArrowKeys=false
            immediateResponse=false
        }}
        <div class="range ev-charge-left">0</div>
        <div class="range ev-charge-right">20</div>
      </div>
    </div>
    <!-- Top - Left Column, First Row Ends -->

    <!-- Top - Rigth Column Starts -->
    <div class="col-sm-5">
      <h4 class="section-title">Set time range</h4>
      <hr>

      <!-- Aggregate Switch Button Starts -->
      <div class="col-sm-5 no-pad">
        <br>
        {{toggle-switch on='Aggregate' off='Sweep' offStyle=“btn-default”}}
      </div>
      <!-- Aggregate Switch Button Ends -->

      <!-- Dropdown Menu Starts -->
      <div class="col-sm-7 no-pad">
        <p>Select day:</p>
        <select class="select-dropdown">
          <option class="btn btn-default" value="monday">Monday</option>
          <option class="btn btn-default" value="monday">Tuesday</option>
          <option class="btn btn-default" value="monday">Wednesday</option>
          <option class="btn btn-default" value="monday">Thursday</option>
          <option class="btn btn-default" value="monday">Friday</option>
          <option class="btn btn-default" value="monday">Saturday</option>
          <option class="btn btn-default" value="monday">Sunday</option>
        </select>
      </div>
      <!-- Dropdown Menu Ends -->
    </div>
    <!-- Top - Rigth Column Ends -->
  </div>
  <!-- Top Section - First Row Ends -->

  <!-- Top Section - Second Row Starts -->
  <div class="col-sm-9 no-pad">
    <div class="col-sm-7 no-pad">
      <h4 class="section-title pad-top">Select Vehicle Type</h4>
      <hr>

      <div class="col-sm-7 no-pad">
        <div class="col-sm-6 no-pad">
          <p>Select between EV and IC vehicles.</p>
        </div>
        {{toggle-switch on='EV' off='IC'  offStyle=“primary”}}
      </div>

      <div class="col-sm-5 no-pad">
        <p>Charge remaining or less</p>
        {{ui-slider
            value=0
            min=0
            max=100
            step=1
            orientation='horizontal'
            tooltip='show'
            disabled=false
            handle='square'
            reversed=false
            focus=false
            naturalArrowKeys=false
            immediateResponse=false
        }}
        <div class="range ev-charge-left">0</div>
        <div class="range ev-charge-right">100</div>
      </div>
    </div>
    <div class="col-sm-5">
      {{range-slider
          value=0
          min=12:00am
          max=11:59pm
          step=12:00am
          orientation='horizontal'
          tooltip='show'
          disabled=false
          handle='square'
          reversed=false
          focus=false
          naturalArrowKeys=false
          immediateResponse=false
      }}
      <div class="range left">12:00am</div>
      <div class="range">None</div>
      <div class="range right">11:59pm</div>
    </div>
  </div>
  <!-- Top Section - Second Row End-->

  <!-- Map Section Starts -->
  <div class="col-sm-9 pad-map">
    <div id="map">
      {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
    </div>
  </div>
  <!-- Map Section Ends -->
</div>
