<div>
    <h4>Map Features</h4>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.existingEvMarkers.isVisible}}
            <img class="icon" src="assets/images/ex_fastcharge-icon.png" alt="Existing charging stations">
            Existing Charging Stations
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.gasStationMarkers.isVisible}}
            <img class="icon" src="assets/images/icon_gas.png" alt="Gas Station Locations">
            Gas Station Locations
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.busStopMarkers.isVisible}}
            <img class="icon" src="assets/images/icon_bus.png" alt="Bus stops">
            Bus stops
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.parkZones.isVisible}}
            <div class="color-box park"></div>
            Parks
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.schoolZones.isVisible}}
            <div class="color-box school"></div>
            Schools
        </label>
    </div>
</div>

<div>
    <h4>Zoning</h4>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.agricultureZone.isVisible}}
            <div class="color-box agriculture"></div>
            Agriculture
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.commercialZone.isVisible}}
            <div class="color-box commercial"></div>
            Commercial
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.downtownZone.isVisible}}
            <div class="color-box downtown"></div>
            Downtown
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.industrialZone.isVisible}}
            <div class="color-box industrial"></div>
            Industrial
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.parkingZone.isVisible}}
            <div class="color-box parking"></div>
            Parking
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.publicLandZone.isVisible}}
            <div class="color-box public-land"></div>
            Public Land
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.residentialSingleZone.isVisible}}
            <div class="color-box residential"></div>
            Residential (Single)
        </label>
    </div>

    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=mapService.residentialMultiZone.isVisible}}
            <div class="color-box residential-multi"></div>
            Residential (Multi)
        </label>
    </div>
</div>

{{#unless gridDirector.scoresDisabled}}
    <div>
        <h4>Recommended EV Charging Station Location Clusters{{tool-tip class='fa fa-info-circle' side='right' title='Click on each grid square to view unique attributes and the cluster score. A score of ‘6’ indicates the most favorable cluster score for EV charging station deployment, while a score of ‘1’ is the least favorable.'}}</h4>

        <div class="checkbox">
            <label>
                {{input type="checkbox" checked=gridDirector.showScores disabled=gridDirector.scoresDisabled}} Show grid score clusters
            </label>
        </div>
    </div>
{{/unless}}
